@import "./variables.scss";
@import "./mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  // width: 320px;
  // padding-left: 15px;
  // padding-right: 15px;

  width: 100%;
  padding-left: 24px;
  padding-right: 24px;

  @include _tablet {
    width: 768px;
  }

  @include _desktop {
    width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.nav-wrapper {
  @include _tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @include _tablet {
    padding-top: 40px;
  }
}

.burger-wrapper {
  display: flex;
}

.burger {
  position: relative;
  // position: fixed;
  // top: 35px;
  // right: 30px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 20px;

  @include _tablet {
    display: none;
  }
}

.burger span {
  height: 2px;
  width: 70%;
  transform: scale(1);
  background-color: var(--white);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  transition: all 300ms ease;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  position: absolute;
  top: 35px;
  right: 30px;
  transform: scale(0);
}

.burger.active::before {
  top: 42%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 47%;
  transform: rotate(45deg) translate(0, -50%);
}

@keyframes burger {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-tel {
  display: none;

  @include _tablet {
    display: block;
    font-weight: 600;
  }
}

.nav-link-wrapper {
  display: none;

  @include _tablet {
    display: flex;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
    margin-top: 40px;
  }

  @include _desktop {
    margin-top: -20px;
  }
}

.nav-burger,
.nav-burger-wrapper {
  display: none;
}

.nav-burger-wrapper.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  z-index: 9;

  position: absolute;
  top: 0;
  left: 0;

  height: 98px;
  width: 100%;

  padding: 90px 5px;
  padding-bottom: 120px;
  background-color: var(--black);
  animation: burger 700ms;

  @include _tablet {
    display: none;
  }
}

.nav-burger.active {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  z-index: 9;
}

.nav-link,
.nav-link.active {
  font-size: 14px;
  font-weight: 600;
  transition: all 200ms ease;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  // z-index: 11;

  display: block;
  width: 120px;

  &:hover,
  &:focus {
    color: var(--orange);
  }
}

.nav-link.active {
  font-size: 12px;
  max-width: 130px;

  @include _tablet {
    display: none;
  }
}

/* -----------------hero----------- */
.hero-bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.4) 100%), url("../images/hero/hero_s@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 799px;
  padding-bottom: 50px;

  @include __big-mobile {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.4) 100%), url("../images/hero/hero_m@1x.webp");
    max-height: 950px;
  }

  @include _desktop {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.4) 100%), url("../images/hero/hero_l@1x.webp");
    padding-bottom: 70px;
  }
}

.hero-header {
  width: 272px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.42;
  text-align: center;
  margin: 146px auto 23px;

  @include _tablet {
    width: 690px;
    margin: 198px auto 35px;
  }

  @include _desktop {
    width: 762px;
    margin-top: 233px;
  }
}

.hero-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;

  @include _tablet {
    font-size: 28px;
    margin-bottom: 35px;
  }
}

.hero-button {
  margin: 0 auto;
  display: block;

  outline: 0;
  border: 1px solid var(--white);
  position: relative;

  width: 260px;
  height: 60px;

  transform: skew(-20deg);
  background-color: var(--orange);
  margin-bottom: 220px;
  // position: relative;
  // z-index: 2;

  transition: all 150ms ease;

  @include _tablet {
    margin-bottom: 370px;
  }

  @include _desktop {
    margin-bottom: 354px;
  }
}

// .hero-button:after {
//   content: "";
//   height: calc(100% + 3px);
//   position: absolute;
//   right: 7px;
//   top: 9px;
//   width: 100%;
//   z-index: -2;
// }

.hero-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--white);
  transform: skew(20deg);
  z-index: 2;
}

.hero-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 144px;
  margin-top: -63px;

  @include _tablet {
    margin-left: 359px;
  }

  @include _desktop {
    margin-top: -73px;
  }
}

.hero-icons-arrow {
  width: 18px;
  height: 9px;
  margin-right: 63px;
  cursor: pointer;

  @include _tablet {
    margin-right: 286px;
  }

  @include _desktop {
    margin-right: 575px;
  }
}

.hero-icons-social-wrapper {
  display: flex;
  gap: 15px;
}

.hero-icons-social {
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  cursor: pointer;
}

/* ---------------life-style------------------- */

.life-style {
  padding-top: 90px;

  @include _tablet {
    padding-top: 70px;
  }

  @include _desktop {
    padding-top: 100px;
  }
}

.life-style-title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;
  margin-bottom: 60px;

  @include _tablet {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 50px;
  }

  @include _desktop {
    text-align: left;
  }
}

.life-style-text {
  line-height: 1.6;
  text-align: center;
  display: block;

  margin-bottom: 40px;

  @include _desktop {
    text-align: left;
  }
}

.life-style-button {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--white);
  background-color: transparent;

  padding: 20px 33px;
  margin-bottom: 40px;
  transform: skew(-20deg);

  line-height: 1.25;
  text-align: center;
  color: var(--white);

  transition: all 150ms ease;

  @include _tablet {
    margin-bottom: 60px;
  }

  @include _desktop {
    margin-left: 0;
  }
}

.life-style-button:hover {
  background-color: var(--orange);
}

.life-style-flex-wrapper {
  @include _desktop {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
  }
}

.life-style-text-wrapper {
  @include _desktop {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.life-style-image-wrapper {
  margin: 0;

  @include _tablet {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.life-style-image {
  display: block;
  margin: 0 auto;

  max-width: 290px;

  @include _tablet {
    max-width: 360px;
  }

  @include _desktop {
    max-width: 305px;
    padding-bottom: 40px;
  }
}

.life-style-image:nth-child(2) {
  @include _tablet {
  }

  @include _desktop {
    padding-top: 40px;
    margin-bottom: -40px;
  }
}

// -------------advantages-------------------
.advantages {
  padding-top: 40px;
  padding-bottom: 90px;

  @include _tablet {
    padding-top: 90px;
  }

  @include _desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.advantages-list {
  width: 220px;
  margin: 0 auto;

  @include _tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    width: 595px;
  }

  @include _desktop {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    max-width: 1320px;
  }
}

.advantages-item {
  width: 200px;

  @include _tablet {
    width: 225px;
  }

  @include _desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;

    width: 280px;
  }
}

.advantages-item:not(:last-child) {
  margin-bottom: 60px;
}

.advantages-img {
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 64px;
  max-height: 64px;
}

.advantages-text {
  text-align: center;

  @include _desktop {
    text-align: left;

    width: 280px;
  }
}

//--------------- gallery-----------------
.gallery {
}

.gallery-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;

  text-align: center;

  @include _tablet {
    font-size: 30px;
    line-height: 1.13;
  }
}

// ---------------------------------------------------------------slider--------------------------------------
.swiper {
  // margin: 0 auto;
  // width: 1160px;
  width: 290px;
  max-width: 100%;
  // height: 300px;
  height: auto;

  @include _tablet {
    width: 738px;
    // height: 430px;
  }

  @include _desktop {
    width: 1100px;
    // height: 375px;
  }
}

// .swiper-slide {
//   width: 250px;
//   height: 350px;
// }

.my-swiper {
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-wrapper {
  transform: translate3d(35px, 0px, 0px);
}

.swiper-button-prev::after {
  color: var(--orange);
  margin-right: 25px;
  display: none;

  @include _desktop {
    display: block;
    font-size: 10px;
  }
}

.my-swiper-slide .swiper-slide .swiper-slide-active {
  width: 250px;
  height: 350px;
}

.swiper-button-next::after {
  color: var(--orange);
  margin-left: 25px;

  display: none;

  @include _desktop {
    display: block;
  }
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  background-color: var(--white);

  font-size: 2px;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background: var(--orange);
  transform: translate3d(539px, -5px, 0px);
  height: 5px;
}

.my-swiper-slide {
  text-align: center;
}

.trainers-swiper-slide {
  text-align: center;
  margin-bottom: 50px;
}

.my-swiper-slide img {
  width: 250px;
  // max-width: 350px;
  height: 350px;
  text-align: center;

  @include _tablet {
    width: 305px;
    height: 430px;
  }

  @include _desktop {
    width: 290px;
    height: 375px;
  }
}

.gallery-person-img-wrapper {
  display: flex;
  gap: 0;
}

.gallery-person-img {
  width: 250px;
  // max-width: 100%;
  height: 350px;
  text-align: center;
  object-fit: cover;

  @include _tablet {
    width: 305px;
    height: 430px;
  }

  @include _desktop {
    width: 360px;
    height: 375px;
  }
}

.gallery-gym-img-wrapper {
  display: flex;
  gap: 0;
}

.gallery-gym-img {
  object-fit: cover;
  width: 250px;
  // max-width: 100%;
  height: 350px;
  text-align: center;
  object-fit: cover;

  @include _tablet {
    width: 305px;
    height: 430px;
  }

  @include _desktop {
    width: 360px;
    height: 375px;
  }
}

//--------------- abonements-----------------
.abonements {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--grey);
  color: var(--black);
  // overflow: auto;
  overflow: scroll;

  @include _tablet {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include _desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.abonements-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  margin-bottom: 60px;

  @include _desktop {
    margin-bottom: 80px;
  }
}

.abonements-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
  overflow: auto;

  @include _tablet {
    margin-bottom: 80px;
  }

  @include _desktop {
    margin-bottom: 90px;
  }
}

.abonements-table-line {
  height: 1px;

  background-color: rgba(12, 20, 23, 0.5);
}

.abonements-table-text {
  width: 210px;
  text-align: center;

  @include _tablet {
    font-size: 18px;
  }
}

.bolt {
  font-weight: 700;
}

.orange {
  color: var(--orange);
}

.price {
  font-weight: 600;
}

.abonements-table-text:first-child {
  text-align: left;
}

.abonements-table-item {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

.abonements-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  text-align: center;
  margin-bottom: 45px;

  @include _tablet {
    margin-bottom: 60px;
  }

  @include _desktop {
    margin-bottom: 80px;
  }
}

.abonements-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include _tablet {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  @include _desktop {
    margin-bottom: 80px;
  }
}

.abonements-card-item {
  padding: 30px 40px;
  background-color: var(--white);
  margin-bottom: 30px;
  width: 290px;
  text-align: center;

  @include _tablet {
    padding: 30px 15px;
    margin-bottom: 0;
    width: 225px;
  }

  @include _desktop {
    padding: 30px 20px;
    width: 308px;
  }
}

.abonements-card-caption {
  text-align: center;
  font-weight: 700;
  margin-bottom: 38px;
}

.abonements-card-clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 37px;

  @include _desktop {
    flex-direction: column-reverse;
  }
}

.abonements-card-time,
.abonements-card-trainer {
  font-size: 15px;
  line-height: 1.33;
  text-align: center;

  color: rgba(12, 20, 23, 0.5);
}

.abonements-card-icon {
}

.abonements-card-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  text-align: center;

  margin-bottom: 15px;
}

.abonements-card-trainer {
  margin-bottom: 15px;
}

.abonements-card-button {
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: var(--orange);

  background-color: transparent;

  width: 150px;
  height: 50px;
  margin: 0 auto;

  border: 1px solid var(--orange);
  transform: skew(-20deg);

  transition: all 150ms ease;
}

.abonements-card-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

// ----------------------trainers--------------------------------

.trainers {
  padding-top: 80px;
  padding-bottom: 80px;

  @include _tablet {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include _desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.trainers-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;

  text-align: center;
  margin-bottom: 60px;

  @include _tablet {
    font-size: 30px;
    line-height: 1.13;
  }
}

// .trainers-list {

// }

.trainers-item {
  width: 250px;
  text-align: left;

  @include _tablet {
    width: 308px;
  }
}

.trainer-img {
  object-fit: cover;
  width: 250px;
  // max-width: 100%;
  height: 350px;
  text-align: center;
  object-fit: cover;

  @include _tablet {
    width: 305px;
    height: 430px;
  }

  @include _desktop {
    width: 360px;
    height: 375px;
  }
}


.trainer-name {
  font-weight: 700;
  margin-bottom: 15px;
}

.trainer-description {
  font-size: 15px;
  line-height: 1.33;

  color: var(--grey600);
}

.trainers-item .trainer-description:not(:last-child) {
  margin-bottom: 5px;
}

// -------------------------connection ------------------------------------
.connection {
  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;

  background-image: linear-gradient(rgba(12, 20, 23, 0.4)),
    url(../images/connection/bgS.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include _tablet {
    padding-top: 100px;
    padding-bottom: 120px;
    background-image: linear-gradient(rgba(12, 20, 23, 0.4)),
      url(../images/connection/bgMpng.png);
  }

  @include _desktop {
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: linear-gradient(rgba(12, 20, 23, 0.4)),
      url(../images/connection/bgL.png);
  }
}

.connection-text-block {
  display: block;

  @include _tablet {
    width: 355px;
    margin-right: 0;
    margin-left: auto;
  }
}

.connection-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 30px;

  @include _tablet {
    font-size: 30px;
    line-height: 1.25;
  }

  @include _desktop {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.connection-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  margin-bottom: 30px;

  @include _tablet {
    font-size: 18px;
    line-height: 1.33;
  }
}

.connection-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.connection-form-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;

  color: var(--grey);
  background-color: transparent;
  border-bottom: 1px solid var(--white);
  padding-bottom: 15px;
}

.connection-button {
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: var(--white);

  background-color: transparent;

  width: 280px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;

  border: 1px solid var(--white);
  transform: skew(-20deg);

  transition: all 150ms ease;
}

.connection-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

.connection-agreement-text {
  font-size: 14px;
  line-height: 1.43;

  color: var(--grey600);
}

// // -------------------------------contacts---------------------
.contacts {
  position: relative;
  width: 100%;

  text-align: center;

  // background-image: url(../images/maps/mapS.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  // @include _tablet {
  //   display: block;
  //   // position: relative;
  //   width: 100%;
  //   height: 567px;

  //   background-image: url(../images/maps/mapM.png);
  //   background-position: left;
  // }

  // @include _desktop {
  //   background-image: url(../images/maps/mapL.png);
  // }
}

.contacts-map {
  // position: relative;
  // width: 320px;
  width: 100%;
  height: 234px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;

  @include _tablet {
    // display: block;
    // position: relative;
    width: 100%;
    height: 567px;
  }

  // height: auto;

  // @include _tablet {
  //   display: none;
  // }
}

.contacts-text-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--black);
  // height: 100px;
  width: 100%;

  @include _tablet {
    padding: 50px 24px;
    width: 354px;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  @include _desktop {
    padding: 50px 35px;
    width: 396px;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.contacts-title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;

  margin-bottom: 55px;

  @include _tablet {
    text-align: left;
    font-size: 30px;
    line-height: 1.25;
  }

  @include _desktop {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;

  font-size: 16px;

  color: var(--white);

  @include _desktop {
    margin-bottom: 40px;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contacts-subscribe {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;

  font-size: 16px;

  @include _desktop {
    margin-bottom: 24px;
  }
}

.contacts-socials {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

// ---------------------footer-------------------

.footer {
  // padding-top: 450px;
  padding-bottom: 100px;

  @include _tablet {
    padding: 50px 15px;
  }
}

.footer-flex-wrapper {
  display: flex;
  flex-direction: column;

  @include _tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    flex-wrap: wrap;
  }

  @include _desktop {
    margin-bottom: 24px;
  }
}

.footer-logo-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 0;
    align-items: center;
  }
}

.footer-logo-img {
  width: 130px;
  height: 45px;

  @include _tablet {
    width: 174px;
    height: 56px;
  }
}

.footer-servises {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 0;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-networks-wrapper {
  display: flex;
  gap: 15px;
}

.footer-networks {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.button-up {
  display: none;
  z-index: 12;

  @include _tablet {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;

    text-align: center;
    border-radius: 50%;
    padding: 1px 14px 4px;

    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    transition: all 350ms ease;
  }
}

.button-up:hover {
  transform: scale(1.1);
  color: var(--black);
}
